version: '3'
services:
  coreapp:
    image: coreapp:v1
    environment: 
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
    ports:
      - "4000:80"
    networks: 
      - proxy
    labels: 
      - "traefik.docker.network=proxy"
      - "traefik.enable=true"
      - "traefik.http.routers.coreapp.rule=Host(`coreapi.turkiyeoku.com`)"
      - "traefik.http.routers.coreapp.entrypoints=https"
      - "traefik.http.routers.coreapp.tls.certresolver=http"

networks:
  proxy:
    external: true